<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
 	 <servlet-name>emplist</servlet-name>
 	 <url-pattern>/emplist.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>emplist</servlet-name>
  	<servlet-class>web.EmpListServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
 	 <servlet-name>emplogin</servlet-name>
 	 <url-pattern>/emplogin.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>emplogin</servlet-name>
  	<servlet-class>web.EmpLoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
 	 <servlet-name>empdelete</servlet-name>
 	 <url-pattern>/empdelete.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>empdelete</servlet-name>
  	<servlet-class>web.EmpDeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
 	 <servlet-name>emptoedit</servlet-name>
 	 <url-pattern>/toedit.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>emptoedit</servlet-name>
  	<servlet-class>web.EmpToEditServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
 	 <servlet-name>empedit</servlet-name>
 	 <url-pattern>/edit.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>empedit</servlet-name>
  	<servlet-class>web.EmpEditServlet</servlet-class>
  </servlet>
</web-app>